<div class="row jumbotron-mission">
  <div class="col-md-offset-4 col-md-4">
    <p class="text-center">Plaits mission statement</p>
    <p class="text-center">Lorem ipsum dolor sit amet,</p>
    <p class="text-center">consectetur adipiscing elit.</p>
    <p class="text-center">Etiam falisis. A</p>
  </div>
</div>
<form name="submitForm">
  <div class="row jumbotron-input">
    <div class="col-md-offset-4 col-md-4">
      <input name="first" type="text" placeholder="First Name" ng-model="firstName" required>
    </div>
  </div>
  <div class="row jumbotron-input">
    <div class="col-md-offset-4 col-md-4">
      <input name="last" type="text" placeholder="Last Name" ng-model="lastName" required>
    </div>
  </div>
  <div class="row jumbotron-input">
    <div class="col-md-offset-4 col-md-4">
      <input name="email" type="email" placeholder="Email" ng-model="email" required>
    </div>
  </div>
  <div class="row jumbotron-submit">
    <div class="col-md-offset-4 col-md-4">
      <button ng-click="submit()" 
        id="submit" class="btn" 
        ng-class="{ disabled: !submitForm.$valid }">
          Sign Up Now
      </button>
    </div>
  </div>
</form>
