<div class="row jumbotron-thankyou">
  <div class="col-md-offset-4 col-md-4">
    <p class="text-center">Thanks for signing up!</p>
  </div>
</div>
<div class="row jumbotron-sub-thankyou">
  <div class="col-md-offset-4 col-md-4">
    <p class="text-center">You'll be the first to know</p>
    <p class="text-center">about our upcoming Plaits launch!</p>
  </div>
</div>
<div class="row jumbotron-social">
  <div class="col-md-offset-4 col-md-4">
    <p class="text-center">
      <a href="#" class="share facebook"><img src="images/facebook.png"></a>
      <a href="#" class="share twitter"><img src="images/twitter.png"></a>
      <a href="#" class="share twitter"><img src="images/pinterest.png"></a>
    </p>
  </div>
</div>
<div class="row jumbotron-share">
  <div class="col-md-offset-4 col-md-4">
    <p class="text-center">share plaits</p>
  </div>
</div>
